
@media (max-width: 1440px){
    .orderSummary{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 976px){
    .orderSummary{
        display: flex;
        flex-direction: column;
       
    }
    section{
        margin: 13px;
    }
}
.shipping-headline{
    padding: 10px; 
    text-align: center; 
    background-color: rgb(119, 8, 8);
    overflow: hidden;
    color: white;
}
.cart-headline{
    color: rgba(0, 0, 0, 0.5);
    text-align: center; 
    margin-top: 5px;
    overflow: hidden;
}
.cartItemCard{
    border: 0;
    padding: 10px;
    
    margin-top: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: black;
    transition: all 250ms;
    height: fit-content;
   
}

.shopping-cart{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: fit-content; 
    height: 500px;
    
}


.cartItem{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    
}
.cartItemImg{
    width: 150px;
    height: 150px;
    
    overflow: hidden;
}
.cartItemImg img{
    object-fit: contain;
}
.itemInfo{
    
    margin-left: 30px;
    
}

.itemInfo p{
    height: 20px;
}
.qtyBtn{
   
   background-color: rgb(182, 184, 180);
   margin-left: 8px;
   padding-left: 10px;
   border-radius: 5px;
   padding-right: 10px;
}

.couponDiv{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.couponDiv input:focus{
    outline: none;

}



.checkoutCard{
    padding: 25px;
    margin-top: 5px;
    line-height: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.checkoutCard button{
    width: 100%;
    padding: 6px;
    margin-top: 15px;
    font-weight: bold;
    background-color: rgb(55, 115, 246);
    border: none;
    color: white;
}

