*{
    margin: 0;
    /* overflow: hidden; */
    font-family:'Times New Roman', Times, serif;
}

/* Popup message style  */
div a.open-chat-icon {
  position: fixed;
  z-index: 49;
  bottom: 10px;
  right: 14px;
  width: 64px;
  height: 64px;
  background: #0065ff;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: background 0.25s;
}
div a.open-chat-icon:hover {
  background: #0058ef;
}
svg.chat-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

div.popup {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
div.inner-popup {
  position: relative;
  background-color: white;
  padding: 24px;
  width: 480px;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

div.popup:target {
  opacity: 1;
  pointer-events: all;
}
a.close-popup-button {
  position: absolute;
  top: 24px;
  right: 24px;
}
a svg.close-popup-icon {
  width: 32px;
  height: 32px;
  fill: #9ca3af;
  cursor: pointer;
}
div.chat-form-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}
div.chat-form-wrapper p {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #374151;
}
div.first-name,
div.last-name,
div.email {
  margin-bottom: 16px;
  border-style: solid;
  border-color: #d1d5db;
  border-radius: 8px;
  
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
div.first-name:focus-within,
div.last-name:focus-within,
div.email:focus-within {
  border-color: #0065ff;
}
input.first-name,
input.last-name,
input.email {
  width: 100%;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
input.first-name::placeholder,
input.last-name::placeholder,
input.email::placeholder {
  font-size: 16px;
  color: #6b7280;
}
div.chat-form-wrapper button {
  height: 48px;
  background-color: #0065ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.25s;
}
div.chat-form-wrapper button:hover {
  background: #0058ef;
}
/* popup end */
/* float icon & popup end */


.topnav {
  overflow: hidden;
  background-color: #4a4b3d;

}
.rightNav{
  float: right;
}

.topnav a, .topnav .logo {
  float: left;
  display: block;
  color: #b0aaaa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.rightNav i{
  position: relative;
}
.rightNav span{
   background-color: red;
   font-size: 10px;
   width: 15px;
   height: 15px;
   align-items: center;
   display: flex;
   justify-content: center;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   right: -10px;
}

.topnav a:hover {
  background-color: #ddd;
  
  
}
.topnav .active{
  background-color: #ddd;
  color: #232127;
}

 

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(.logo) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: left;
  }
  
}

/* open website animation */

/* responsive styles */

@media (max-width: 1440px){
    .trendyItems{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        
    }
}



@media (max-width: 976px){
    


    .trendySearch{
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex-wrap: wrap;
      align-items: baseline;
      justify-items: center;
    }
    .search-bar{
      width: 80%;
    }
    .campImg{
        height: 100px;
        margin-bottom: 0;
    }

    .trendyItems{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        /* padding-left: 15px; */
        justify-content: center;
        overflow: hidden;
    }
    .about-camp{
      
      overflow: hidden;
      line-height: 25px;
      text-align: center;
      width: fit-content;
      padding-left: 0px;
      padding-right: 0;
      display: inline;
    }
    @media (max-width: 976px){
      .about-camp{
        margin: 20px;
      }
    }
    .about-camp h2{
      margin-top: 0;
      text-align: center;
    
    }
    .about-camp .button-92{
      margin-left: 90px;
    }
    .tip-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
   
  }

.advertiseText{
    background-color: #7b98c2;
    color: white;
    text-align: center;
    padding: 9px;
    overflow: hidden;

}
.fa-solid:hover{
    color: #4a4b3d;
    border-radius: 50%;
    cursor: pointer;
}



.search{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.search-bar{
    margin: 10px;
    padding: 10px;
    /* border-radius: 10px; */
    border: #254e1c solid 1px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30px;
    border-radius: 100px;
   align-items: center;
    
}

.search-bar input{
  border: 0;
  width: 100%;
  padding: 5px;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-color: #254e1c;

  
}
.search-bar input:focus{
  border: none;
  outline: none;
}

@media (max-width:976px){
  .search-bar input{
    
    width: 100%;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-color: #254e1c;
  
    
  }
}

a{
    text-decoration: none;
    color: white;
}

.trendySearch {
   display: flex;
   padding: 50px;
   justify-content: center;
}
.trendySearchText{
  font-size: 30px;
  font-weight: bold;
}

/* trendysearch buttons */

.trendyButton {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #254e1c;
  cursor: pointer;
  display: inline-block;
  /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 30px;
}

.trendyButton:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.campImg{
    height: 330px;
    object-fit: contain;
    overflow: hidden;
   
}

@media (max-width: 976px){
  .campImg{
    height: 150px;
   
  }
  .about-camp{
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    width: 200px;
    height: fit-content;
  }
  .about-camp p{
    
  }
}

.about-camp{
  margin: 10px;
  padding-left: 100px;
  padding-right: 70px;
  line-height: 25px;
  text-align: center;
  
}

.about-camp h1{
  text-align: center;
  margin: 20px;
}
.about-camp .button-92 {
  --c: #fff;

  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #ff2a00;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 10px;
  cursor: pointer;
  padding: .1em .3em;
}



.trendyItems{
    margin: 10px;
    margin-left: 50px;
}
.trendyTitle{
  margin-top: 20px;
  text-align: center;
}

/* card style */
.flow >* + * {
    margin-top: var(--flow-space, 1em);
  }

.card{
    margin: 20px;
    color: white;
    display: grid;
    place-items: center;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.card img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.card >* {
  grid-column: 1/2;
  grid-row: 1/2;
}
.card-content{
    /* --flow-space: 0.9375rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 55%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card-description{
  font-size: 13px;
  
}

.card-title{
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
}
.card-title::after{
    content: "";
    position: absolute;
    height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

  .card-button:focus {
    outline-offset: -5px;
  }
  
  @media (any-hover: hover) and (any-pointer: fine) {
    .card-content {
      transform: translateY(62%);
      transition: transform 500ms ease-out;
      transition-delay: 500ms;
    }
  
    .card-title::after {
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 1000ms ease-in, transform 500ms ease-out;
      transition-delay: 500ms;
      transform-origin: right;
    }
  
    .card-background {
      transition: transform 500ms ease-in;
    }
  
    .card-content-container > :not(.card-title),
    .card-button {
      opacity: 0;
      transition: transform 500ms ease-out, opacity 500ms ease-out;
    }
  
    .card:hover,
    .card:focus-within {
      transform: scale(1.05);
      transition: transform 500ms ease-in;
    }
  
    .card:hover .card-content,
    .card:focus-within .card-content {
      transform: translateY(0);
      transition: transform 500ms ease-in;
    }
  
    .card:focus-within .card-content {
      transition-duration: 0ms;
    }
  
    .card:hover .card-background,
    .card:focus-within .card-background {
      transform: scale(1.3);
    }
  
    .card:hover .card-content-container > :not(.card-title),
    .card:hover .card-button,
    .card:focus-within .card-content-container > :not(.card-title),
    .card:focus-within .card-button {
      opacity: 1;
      transition: opacity 500ms ease-in;
      transition-delay: 1000ms;
    }
  
    .card:hover .card-title::after,
    .card:focus-within .card-title::after {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
      transition: opacity 500ms ease-in, transform 500ms ease-in;
      transition-delay: 500ms;
    }
    
  }

/* footer style */
footer{
  margin-top: 20px;
  background:#4a4b3d;
  padding:30px 0px;
  overflow: hidden;
}
.f-item-con{
  padding: 1.5rem 3rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}
@media (max-width: 976px){
  
  .f-item-con{
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  gap: 0px;
  right: 100px;
  text-align: center;
  align-items: center;
  }
  .map{
    width: 230px;
    margin-bottom: 20px;
    
  }
  .subscribe-form {
    margin-top: 20px;
    margin-right: 25px;
    position: relative;
    overflow: hidden;
  }
  .footer-title{
    border-bottom: 3px solid red;
    /* border-bottom-width: 3px; */
  }
  .row{
    margin-top: 10px;
  }
}

footer .app-name{
  color: white;
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

footer .app-info p{
  color: white;
  padding-left: 1.65rem;
  margin-top: 20px;
}
.subscribe-form {
  margin-top: 20px;
  margin-left: 25px;
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 10px 18px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #7b98c2;
    padding: 8px 20px;
    border: 1px solid #7b98c2;
    top: 0;
    
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.subscribe-form button:hover{
  cursor: pointer;
}

footer .footer-title{ 
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: white;
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  height: fit-content;
}
footer ul{ 
  padding-left: 1.75rem;
  color: white;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem;
  margin-top: .5rem;
}
footer ul li{ 
  margin: .25rem 0;
  cursor: pointer;
  color: #d4d4d4;
  width: fit-content;
}
footer ul li a:hover{
  color: white;
  text-decoration: underline ;
  
}
footer .help-sec{
  grid-column-start: 2;
}
footer .cr-con{
  background-color: #232127;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
}
.right-footer{
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.right-footer a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.right-footer a:hover{
  color: #24262b;
  background-color: #ffffff;
}




.dropdown {
  position: relative;
  display: block;
}
.dropdown span{
  text-decoration: underline blue;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  overflow: hidden;
  z-index: 1;
  left: 140px;
  top: -120px;
}

.dropdown:hover .dropdown-content {
  display: block;
}





/* Top brands name styles from home page */

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7)); }
}
.brand-title{
  text-align: center;
  margin: 10px;
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  width: 200px;
  position: absolute;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateY(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 60px;
  width: 140px;
  padding-top: 25px;
  padding-left: 10px;
  
}
.slide img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}


@media (max-width: 676px){
 .slider{
  width: 380px;
 }
}

/* Tip & Tricks style */
.tip-title{
  margin: 10px;
  text-align: center;
}
.tip-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.tip{
  width: 300px;
  line-height: 25px;
}
.tip img{
  width: 100%;
  object-fit: contain;
}

@media (max-width: 676px){
  .tip-container{
   display: grid;
   grid-template-rows: repeat(3,1fr);
   padding-bottom: 30px;
  }
}

