.offer-headline{
    text-align: center;
    margin: 20px;
  
}
.offer-headline h1{
    margin-bottom: 10px;
}

.offer-container{
    margin: 20px;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
@media (max-width: 976px){
    .offer-container{
        display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 4px;
       
    }
    .offer-headline object{
        width: 300px;
    }
  }
.offer-tag{
    width: 50px;
    margin-left: 0;
    position: absolute;
    object-fit: contain;bottom: 55px;
    left: 10px;
}

.origin-price{
    text-decoration:line-through;
}
.price{
    color: red;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

